/*****Inderjit Singh*******/


/***Resume scanning feature***/


/*start*/


/* Import Google Font */

@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

/* RESET */


/* Containing areas */

.container_scan {
    width: 900px;
    margin: 0 auto;
    margin-top: 100px;
}

#container_scan_results {
    width: 950px;
    margin: 0 auto;
    margin-top: 100px;
}

.ta-container {
    width: 100%;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 0.25em;
    margin: 0.25em 0 1.5em;
}

.hasfocus {
    box-shadow: 0px 0px 6px hsl(210, 50%, 60%);
}


/* The textarea itself */

textarea {
    padding: 0.25em;
    width: 100%;
    max-width: 100%;
    border: none;
    vertical-align: bottom;
    color: hsl(0, 0%, 50%);
    border-radius: 0.25em;
    outline: none;
}


/* matched results*/

#scanning_results {
    font-size: 30px;
    color: rgb(95, 260, 128);
    display: inline-flex;
}


/* The status bar */

.status-bar {
    background: hsl(0, 0%, 90%);
    padding: 0.25em;
    text-align: right;
    font-family: sans-serif;
    font-size: 0.7em;
    width: 100%;
    font-weight: bolder;
    /*color: hsl(0, 0%, 50%);*/
    color: rgb(95, 207, 128);
    border-radius: 0 0 0.25em 0.25em;
    visibility: hidden;
}

table {
    width: auto;
    margin-left: auto;
    line-height: 1em;
}

.charcount,
.remaining {
    font-weight: bold;
}

.over {
    color: hsl(0, 80%, 60%);
}


/* The submit button */

#submitbtn {
    padding: 0.4em 1.2em;
    background-color: #23272B;
    border: 1px solid #23272B;
    color: hsl(0, 100%, 100%);
    border-radius: 0.25em;
    float: left;
}

#convert_pdf {
    padding: 0.4em 1.2em;
    background-color: #23272B;
    border: 1px solid #23272B;
    color: hsl(0, 100%, 100%);
    border-radius: 0.25em;
}

#anotherbtn {
    padding: 0.4em 1.2em;
    background-color: #23272B;
    border: 1px solid #23272B;
    color: hsl(0, 0%, 100%);
    border-radius: 0.25em;
    float: right;
}

#submitbtn:enabled:hover {
    background: hsl(0, 0%, 90%);
}

#submitbtn:enabled:active {
    background: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 90%);
}

#submitbtn:disabled {
    border: 1px solid hsl(0, 0%, 90%);
    color: hsl(0, 0%, 90%);
}

#match_title,
#ats_match_average,
#hard_skills_match,
#soft_skills_match {
    margin-top: 80px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: rgb(55, 99, 68);
}

#myTableHardSkills {
    font-size: 18px;
}

#myTable td {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#myTableSoftSkills {
    font-size: 18px;
}

#result_description {
    font-size: 19px;
    color: rgb(55, 99, 68);
    font-weight: bolder;
}

#myTable {
    font-size: 18px;
}

#title_scanning h1 {
    margin-left: 20px;
    margin-right: 20px;
}

#title_scanning p {
    font-size: 18px;
}

#results_percentage {
    color: rgb(55, 99, 68);
}


/*Card Layout*/

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    background-color: #F7F7F7;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.card-title,
.card-subtitle,
#result_description {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}


/*line*/

#line_space {
    display: block;
    height: 5px;
    border: 3;
    border-top: 5px solid #413e3e;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
}

#line_space_next {
    display: block;
    height: 3px;
    border: 1;
    border-top: 2px solid #413e3e;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
}

#word-cloud {
    height: 80vh;
    width: 60vw;
    margin: 0 auto;
    background-color: rgb(234, 247, 234);
    margin-bottom: 30px;
}

#myprogressBar {
    width: 1%;
    height: 35px;
    background-color: #dd9933;
    text-align: center;
    line-height: 32px;
    color: black;
}


/* Inderjit CSS ends*/